/* ROFI — TOKYO NIGHT COLORS
 * Variables usadas por todos los layouts
 */

* {
    background:       rgba(26, 27, 46, 0.90);
    background-alt:   rgba(18, 19, 36, 0.95);
    background-hover: rgba(32, 34, 62, 0.82);
    foreground:       #c0caf5;
    foreground-dim:   #565f89;
    selected:         #7dcfff;
    active:           #bb9af7;
    urgent:           #f7768e;

    background-color: transparent;
    text-color:       @foreground;
    font:             "Hack Nerd Font 12";
}
