/* ROFI — THORN FOREST COLORS
 * Variables usadas por todos los layouts
 */

* {
    background:       rgba(23, 37, 38, 0.90);
    background-alt:   rgba(19, 31, 32, 0.95);
    background-hover: rgba(38, 64, 62, 0.82);
    foreground:       #DBD2C7;
    foreground-dim:   #9B9A8C;
    selected:         #87CBB1;
    active:           #6FA791;
    urgent:           #D2696C;

    background-color: transparent;
    text-color:       @foreground;
    font:             "Hack Nerd Font 12";
}
