* {
	font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono";
	font-weight: 600;
	font-size: 17px;
}

tooltip label {
	font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
	font-size: 21px;
}
