/*--------
    Red
--------*/

#network {
	padding: 0 12px;
}

/*---------
    Audio
---------*/

#pulseaudio {
	padding: 0 12px;
}

/*-----------
    Bluetooth
-----------*/

#bluetooth {
	padding: 0 12px;
}

/*-----------------
    Notifications
-----------------*/

#custom-notifications {
	padding: 0 14px;
	color: @accent;
}
#custom-notifications:hover {
	color: @main-fg;
}

/*--------
    RAM
--------*/

#memory {
	padding: 0 12px;
}

/*--------
    CPU
--------*/

#cpu {
	padding: 0 12px;
}
