/*--------------
    Arch icon
--------------*/

#custom-distro {
	padding: 0 12px;
	background-color: @accent;
	color: @main-bg;
}

/*---------
    Clock
---------*/

#clock {
	padding: 0 12px;
	background-color: alpha(shade(@main-bg, 0.7), 0.88);
}
