/* Hover */
#bluetooth:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* Inactive / muted */
#pulseaudio.output.muted {
	color: @hover-fg;
}

/* Warnings */
#memory.warning,
#cpu.warning {
	color: @warning;
}
#memory.critical,
#cpu.critical {
	color: @critical;
}
