/* ROFI — CONFIG GLOBAL */

configuration {
    /* modes se define por launcher individual para no sobreescribir */
    show-icons:          true;
    icon-theme:          "Kora-dark";
    drun-display-format: "{name}";
    drun-match-fields:   "name,generic,exec,categories";
    terminal:            "kitty";
    ssh-command:         "kitty -- ssh {host}";
    parse-known-hosts:   true;
    parse-hosts:         true;
    matching:            "fuzzy";
    sort:                true;
    sorting-method:      "normal";
}
