/**
 *
 * Grayscale + transparency
 *
 * Colors
 **/

* {
    background:     #0D0D0DCC;
    background-alt: #1A1A1ACC;
    foreground:     #E8E8E8FF;
    selected:       #4D4D4DEE;
    active:         #888888FF;
    urgent:         #707070FF;
}
