/**
 *
 * Grayscale + transparency
 *
 * Colors
 **/

* {
    background:     #050505FF;
    background-alt: #0F0F0FFF;
    foreground:     #E8E8E8FF;
    selected:       #4D4D4DEE;
    active:         #888888FF;
    urgent:         #707070FF;
    border-col:     #E8E8E8FF;
}
