/* ROFI — AUDITORY (KALI) COLORS
 * Variables usadas por todos los layouts
 */

* {
    background:       rgba(5, 8, 12, 0.92);
    background-alt:   rgba(8, 13, 20, 0.96);
    background-hover: rgba(10, 26, 13, 0.85);
    foreground:       #e2eaf8;
    foreground-dim:   #3a4060;
    selected:         #00ff41;
    active:           #ff2d78;
    urgent:           #ff1744;

    background-color: transparent;
    text-color:       @foreground;
    font:             "Hack Nerd Font 12";
}
