/* ROFI — TOKYO NIGHT STORM */

* {
    background:       rgba(36, 40, 59, 0.90);
    background-alt:   rgba(28, 32, 48, 0.95);
    background-hover: rgba(45, 63, 118, 0.82);
    foreground:       #c0caf5;
    foreground-dim:   #565f89;
    selected:         #7dcfff;
    active:           #bb9af7;
    urgent:           #f7768e;

    background-color: transparent;
    text-color:       @foreground;
    font:             "Hack Nerd Font 12";
}
