/* ROFI — TOKYO NIGHT NEON */

* {
    background:       #0d0e17;
    background-alt:   #111219;
    background-hover: #1e2050;
    foreground:       #c0caf5;
    foreground-dim:   #3d4268;
    selected:         #00d4ff;
    active:           #cc66ff;
    urgent:           #ff3d73;

    background-color: transparent;
    text-color:       @foreground;
    font:             "Hack Nerd Font 11";
}
